<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title How does it feel where I am?
	link(rel="stylesheet", href="/css/styles.css")
body
	.wrapper
		h1 Weather Underground App
		h2 Enter a zip code
		form(method="post" action="/")
			input(type="text", name="zip" placeholder="i.e. 37865")
			br
			button Submit
	